body{
    background-color: black;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

.ig-post{
    margin:auto;
    width: 450px;
    margin-top: 5%;
    background-color: white;
}

.header{
    background-color: white;
    display:flex;
    margin: 0px;
    align-items: center;
    padding: 7px;
}

.image{
    margin:0px;
}

.ig-bottom{
    margin:0px;
    padding:10px;
    font-size: 16px;
}

.ig-bottom-icon{
    display:flex;
}
